<div>
    <app-navbar></app-navbar>
    <div class="about-us-container">
      <h2>About Us</h2>
      <p>Welcome to our application! We are dedicated to providing you with the best experience possible.</p>
      <p>Our mission is to empower you to organize your notes efficiently and effectively.</p>
      <p>This application allows you to take new notes, examine and amend existing notes, and even remove notes if you'd like.</p>
      <p>-Parikshit Padole, Student ID: B00871677</p>
    </div>
  </div>
  